@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

* {
  font-family: "Sriracha", sans-serif;
}

a {
  text-decoration: none;
}
.links:hover {
  color: #dc3545;
}
.intro {
  min-height: 90vh;
  padding: 3vh 5vw;
}

.intro .animation {
  width: 75%;
  height: 75vh;
}
