@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
* {
  font-family: "Sriracha", sans-serif;
}
.container-book {
  min-height: 90vh;
}
.section-book .book-img {
  background-color: azure;
  border: 1px solid #ff5c58;
}

.section-book .card-book img {
  cursor: pointer;
}

.section-book .card-book .card-details {
  display: none;
}
.card-details p {
  text-align: start;
}
.search-title {
  padding: 1vh 1vw;
}
a {
  text-decoration: none;
}
.links:hover {
  color: #dc3545;
}
